/* CSS  */

.manage-activations {
    padding: 15px;
    box-shadow: 0px 0px 18px 0px #77777757;
    background: #fff;
    z-index: 99;
    visibility: hidden;
    transform: translateY(-50%) scale(.8);
    opacity: 0;
    transition: all .3s ease;
    max-width: 500px;
    position: fixed;
    width: 100%;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: auto;
    max-height: 85%;
}
.manage-activations-list{
    display: flex;
    align-items: center;
}
.manage-activations.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
