/* CSS  */

.manage-activations {
    padding: 15px;
    box-shadow: 0px 0px 18px 0px #77777757;
    background: #fff;
    z-index: 99;
    visibility: hidden;
    transform: translateY(-50%) scale(.8);
    opacity: 0;
    transition: all .3s ease;
    max-width: 400px;
    position: fixed;
    width: 100%;
    top: 240px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.manage-activations-list{
    display: flex;
    align-items: center;
}
.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.manage-activations p {
    margin: 0;
    max-width: 300px;
    width: 100%;
}
